@charset "UTF-8";
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Avenir", "Helvetica Neue", "Helvetica", "Arial", "Hiragino Sans", "ヒラギノ角ゴシック", YuGothic, "Yu Gothic", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic";
  line-height: 1;
}

h1,
h2,
h3,
h4,
dt,
dd,
p,
div,
span,
img,
a,
table,
tr,
th,
td,
ul,
ol,
dl,
li,
figure {
  border: 0;
  box-sizing: border-box;
  color: inherit;
  font-size: 100%;
  font-weight: normal;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

article,
aside,
footer,
header,
nav,
section,
main {
  display: block;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

.br-sp {
  display: none;
}

@media screen and (max-width: 767px) {
  .br-sp {
    display: inline;
  }
}

.br-tab {
  display: none;
}

@media screen and (max-width: 1015px) {
  .br-tab {
    display: inline;
  }
}

.header {
  background: rgba(255, 255, 255, 0);
  height: 60px;
  position: relative;
  top: 0;
  width: 100%;
}

.header-wrapper {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 100%;
  justify-content: space-between;
}

.header-logo {
  color: #fff;
  font-size: 1.6rem;
}

.header-nav {
  margin-left: auto;
}

@media screen and (max-width: 767px) {
  .header-nav {
    display: none;
  }
}

.header-nav__list {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.header-nav__list-item {
  margin-right: 40px;
}

.header-nav__list-link {
  color: #fff;
  font-size: 1.6rem;
}

.header-nav__list-link:hover {
  opacity: 0.5;
}

.inner {
  height: 100%;
  margin: 0 auto;
  max-width: 100%;
  padding: 0 40px;
  width: 1016px;
}

@media screen and (max-width: 767px) {
  .inner {
    padding: 0 20px;
  }
}

.mv {
  background: linear-gradient(45deg, rgba(129, 234, 219, 0.9), #98e1fb, rgba(47, 135, 191, 0.9)), url("../img/dist/mv_bg.jpg") center center;
  background-size: cover;
  height: calc(100vh - 160px);
  margin-top: -60px;
}

@media screen and (max-width: 767px) {
  .mv {
    height: calc(100vh - 80px);
    text-align: center;
  }
}

.mv .mv-table {
  display: table;
  height: 100%;
  width: 100%;
}

.mv .mv-table-cell {
  color: #fff;
  display: table-cell;
  vertical-align: middle;
}

.mv .mv-ttl {
  font-size: 3.6em;
  font-weight: 700;
  margin-bottom: 32px;
  text-align: left;
}

@media screen and (max-width: 767px) {
  .mv .mv-ttl {
    font-size: 2.4em;
  }
}

.mv .mv-txtarea {
  margin-bottom: 64px;
  text-align: left;
}

@media screen and (max-width: 767px) {
  .mv .mv-txtarea {
    margin-bottom: 48px;
  }
}

.mv .mv-txt {
  font-size: 2.4em;
}

@media screen and (max-width: 767px) {
  .mv .mv-txt {
    font-size: 1.6em;
  }
}
